---
import type { Ballad } from '@model';
import Layout from '@layouts/Layout.astro';

export async function getStaticPaths() {
  const ballads: Ballad[] = await Astro.glob('/src/assets/ballads/*.json');

  return ballads.map((ballad) => ({
    params: { id: ballad.id },
    props: ballad,
  }));
}

const { title, prev, next, notes, motto, contents } = Astro.props;
---

<Layout title={`${title} | Ballady i Romanse`}>
  <header>
    <h1 class="font-cursive font-size-8xl">
      {title}
    </h1>
    <nav>
      <span>
        {
          prev && (
            <a href={`/${prev.id}`} class="font-size-base" style={{ textAlign: 'left' }}>
              ⬅ {prev.title}
            </a>
          )
        }
      </span>
      <a href="/" class="font-size-base" style={{ textAlign: 'center' }}>Strona główna ⌂</a>
      <span>
        {
          next && (
            <a href={`/${next.id}`} class="font-size-base" style={{ textAlign: 'right' }}>
              {next.title} ➡
            </a>
          )
        }
      </span>
    </nav>
    {notes && notes.map((note) => <span class="note font-size-xs">{note}</span>)}
  </header>
  <main>
    <article>
      {
        motto && (
          <section class="motto">
            <pre class="font-default font-size-sm">{motto.text}</pre>
            <pre class="font-default font-size-sm mb-2" style={{ marginBottom: '8px' }}>
              {motto.author}
            </pre>
            {motto.translation && <pre class="font-default font-size-sm">{motto.translation}</pre>}
          </section>
        )
      }
      {
        contents.map((content) => (
          <section class="content">
            {content.character && <h2 class="font-size-base">{content.character}:</h2>}
            <pre class="font-default font-size-base">{content.text}</pre>
          </section>
        ))
      }
    </article>
  </main>
</Layout>

<style>
  header {
    margin-bottom: 32px;
  }

  h1 {
    text-align: center;
  }

  h2 {
    font-weight: 500;
  }

  nav {
    position: fixed;
    inset: 0 0 auto 0;
    padding: 8px 16px;

    background-color: var(--bg-color-default);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  nav a {
    display: inline-block;
    width: 100%;
  }

  nav a:hover {
    text-decoration: underline;
  }

  .note {
    display: block;
    text-align: center;
  }

  article {
    width: max-content;
    margin-inline: auto;
  }

  article section.motto {
    margin-bottom: 16px;
  }

  .motto pre {
    text-align: right;
  }

  article section.content {
    margin-bottom: 32px;
  }
</style>
