---
import type { Ballad } from '@model';
import Layout from '@layouts/Layout.astro';

export async function getStaticPaths() {
  const ballads: Ballad[] = await Astro.glob('/src/assets/ballads/*.json');

  return ballads.map((ballad) => ({
    params: { id: ballad.id },
    props: ballad,
  }));
}

const { title, prev, next, notes, motto, contents } = Astro.props;
---

<Layout title={`${title} | Ballady i Romanse`}>
  <header class="mb-8">
    <h1 class="font-cursive text-center text-8xl leading-tight">
      {title}
    </h1>
    <div class="fixed top-0 w-full px-4 bg-white grid grid-cols-3 py-2">
      <span class="w-full">
        {
          prev && (
            <a href={`/${prev.id}`} class="text-base text-left w-full inline-block hover:underline">
              ⬅ {prev.title}
            </a>
          )
        }
      </span>
      <a href="/" class="text-base text-center hover:underline">Strona główna ⌂</a>
      <span>
        {
          next && (
            <a
              href={`/${next.id}`}
              class="text-base text-right w-full inline-block hover:underline"
            >
              {next.title} ➡
            </a>
          )
        }
      </span>
    </div>
    {notes && notes.map((note) => <span class="block text-center text-xs">{note}</span>)}
  </header>
  <main>
    <article class="w-max mx-auto">
      {
        motto && (
          <section class="mb-4">
            <pre class="text-right font-default text-sm">{motto.text}</pre>
            <pre class="text-right font-default text-sm mb-2">{motto.author}</pre>
            {motto.translation && (
              <pre class="text-right font-default text-sm">{motto.translation}</pre>
            )}
          </section>
        )
      }
      {
        contents.map((content) => (
          <section class="mb-8">
            {content.character && <h2 class="font-medium text-base">{content.character}:</h2>}
            <pre class="font-default text-base">{content.text}</pre>
          </section>
        ))
      }
    </article>
  </main>
</Layout>
