---
import { type Ballad } from '@model';
import Layout from '@layouts/Layout.astro';
import Motto from '@components/Motto.astro';
import Note from '@components/Note.astro';
import Content from '@components/Content.astro';
import { GET } from './api/ballads/[key].json';
import { keys } from '@db';

const response = await GET(Astro);
const ballad = await response.json<Ballad>();
const { title, prevBallad, nextBallad, notes, motto, contents } = ballad;

export async function getStaticPaths() {
  return keys.map((key) => ({ params: { key } }));
}
---

<Layout title={`${title} | Ballady i Romanse`}>
  <header>
    <h1>{title}</h1>
    <nav>
      <span>
        {
          prevBallad && (
            <a href={`/${prevBallad.key}`} style={{ textAlign: 'left' }}>
              ⬅<span> {prevBallad.title}</span>
            </a>
          )
        }
      </span>
      <a href="/" style={{ textAlign: 'center' }}>⌂ <span>Strona główna</span></a>
      <span>
        {
          nextBallad && (
            <a href={`/${nextBallad.key}`} style={{ textAlign: 'right' }}>
              <span>{nextBallad.title} </span>➡
            </a>
          )
        }
      </span>
    </nav>
    {notes && notes.map(({ text }) => <Note note={text} />)}
  </header>
  <main>
    <article>
      {motto && <Motto {...motto} />}
      {contents.map((content) => <Content {...content} />)}
    </article>
  </main>
</Layout>

<style lang="scss">
  header {
    margin-bottom: 32px;
  }

  h1 {
    font: var(--font-xxl);
    font-family: var(--font-cursive);
    text-align: center;
  }

  h2 {
    font-weight: 500;
  }

  nav {
    position: fixed;
    inset: 0 0 auto 0;
    padding: 8px 16px;

    background-color: var(--bg-color-default);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    & a {
      display: inline-block;
      width: 100%;

      font: var(--font-md);
      text-wrap: nowrap;

      &:hover {
        text-decoration: underline;
      }

      & > span {
        display: none;
        @media (min-width: 640px) {
          display: inline;
        }
      }
    }
  }

  article {
    width: max-content;
    margin-inline: auto;
  }
</style>
