---
import { keys, type Ballad } from '@model';
import Layout from '@layouts/Layout.astro';
import Motto from '@components/Motto.astro';
import Note from '@components/Note.astro';
import Content from '@components/Content.astro';
import { GET } from './api/ballads/[key].json';
import AnnotationMarker from '@components/AnnotationMarker.astro';
import { formatText } from '@utils';
import AnnotationNote from '@components/AnnotationNote.astro';

export const prerender = true;

const response = await GET(Astro);
const ballad = await response.json<Ballad>();
const { title, link, prevBallad, nextBallad, notes, motto, contents, annotations } = ballad;

export async function getStaticPaths() {
  return keys.map((key) => ({ params: { key } }));
}
---

<Layout title={`${formatText(title, (_, __, title) => title)} | Ballady i Romanse`}>
  <header>
    <h1><AnnotationMarker text={title} /></h1>
    <nav>
      <span>
        {
          prevBallad && (
            <a href={`/${prevBallad.key}`} style={{ textAlign: 'left' }}>
              ⬅<span> {formatText(prevBallad.title, (_, __, title) => title)}</span>
            </a>
          )
        }
      </span>
      <a href="/" style={{ textAlign: 'center' }}>⌂ <span>Strona główna</span></a>
      <span>
        {
          nextBallad && (
            <a href={`/${nextBallad.key}`} style={{ textAlign: 'right' }}>
              <span>{formatText(nextBallad.title, (_, __, title) => title)} </span>➡
            </a>
          )
        }
      </span>
    </nav>
    {notes && notes.map(({ text }) => <Note note={text} />)}
  </header>
  <main>
    <article>
      {motto && <Motto {...motto} />}
      {contents.map((content) => <Content {...content} />)}
      {
        annotations.length > 0 && (
          <section class="annotations">
            {annotations.map((annotation) => (
              <AnnotationNote {...annotation}>{annotation.text}</AnnotationNote>
            ))}
          </section>
        )
      }
    </article>
  </main>
  <footer>
    Tekst oraz przypisy pochodzą ze strony: <a target="_blank" href={link}>{link}</a>
  </footer>
</Layout>

<style lang="scss">
  main {
    margin-bottom: 48px;
  }

  header {
    margin-bottom: 32px;
  }

  h1 {
    font: var(--font-xxl);
    font-family: var(--font-cursive);
    text-align: center;
  }

  h2 {
    font-weight: 500;
  }

  nav {
    position: fixed;
    inset: 0 0 auto 0;
    padding: 8px 16px;

    background-color: var(--bg-color-default);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    & a {
      display: inline-block;
      width: 100%;

      font: var(--font-md);
      text-wrap: nowrap;

      &:hover {
        text-decoration: underline;
      }

      & > span {
        display: none;
        @media (min-width: 640px) {
          display: inline;
        }
      }
    }
  }

  article {
    width: min-content;
    margin-inline: auto;
  }

  .annotations {
    margin-top: 60px;
    counter-reset: annotationNote;
  }

  footer {
    text-align: center;
    font: var(--font-xs);
    padding: 20px;

    a {
      text-decoration: underline;
    }
  }
</style>
