---
import Card from '@components/Card.astro';
import Layout from '@layouts/Layout.astro';

import { Image } from 'astro:assets';

import bottomImage from '@assets/images/title/bottom.png';
import leftImage from '@assets/images/title/left.png';
import rightImage from '@assets/images/title/right.png';
import topImage from '@assets/images/title/top.png';

type Ballad = {
  id: string;
  title: string;
};

const ballads: Ballad[] = [
  { id: 'pierwiosnek', title: 'Pierwiosnek' },
  { id: 'romantycznosc', title: 'Romantyczność' },
  { id: 'switez', title: 'Świteź' },
  { id: 'switezianka', title: 'Świtezianka' },
  { id: 'rybka', title: 'Rybka' },
  { id: 'powrot-taty', title: 'Powrót taty' },
  { id: 'kurhanek-maryli', title: 'Kurhanek Maryli' },
  { id: 'do-przyjaciol', title: 'Do przyjaciół' },
  { id: 'to-lubie', title: 'To lubię' },
  { id: 'rekawiczka', title: 'Rękawiczka' },
  { id: 'pani-twardowska', title: 'Pani Twardowska' },
  { id: 'tukaj-albo-proby-przyjazni', title: 'Tukaj albo próby przyjaźni' },
  { id: 'lilije', title: 'Lilije' },
  { id: 'dudarz', title: 'Dudarz' },
];
---

<Layout title="Ballady i romanse | Adam Mickiewicz">
  <header>
    <Image src={topImage} alt="" class="image image-top" />
    <Image src={bottomImage} alt="" class="image image-bottom" />
    <Image src={leftImage} alt="" class="image image-left" />
    <Image src={rightImage} alt="" class="image image-right" />
    <h1 class="font-cursive font-size-8xl">Ballady i Romanse</h1>
    <h2 class="font-cursive font-size-4xl">Adam Mickiewicz</h2>
  </header>
  <main>
    <ul>
      {
        ballads.map((ballad) => (
          <li>
            <Card title={ballad.title} href={`/${ballad.id}`} />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  header {
    position: relative;
    width: max-content;
    height: 460px;
    margin-inline: auto;
    margin-bottom: 48px;
  }

  .image {
    position: absolute;
    --offset: 160px;
  }

  .image-top {
    top: 0;
    left: 50%;
    translate: -50% 0;
  }

  .image-bottom {
    bottom: 0;
    left: 50%;
    translate: -50% 0;
  }

  .image-left {
    left: calc(-1 * var(--offset));
    height: 100%;
  }

  .image-right {
    right: calc(-1 * var(--offset));
    height: 100%;
  }

  h1,
  h2 {
    position: relative;
    top: 50%;
    translate: 0 -50%;

    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;

    margin-inline: 64px;
    margin-bottom: 48px;
  }
</style>
