---
import Card from '@components/Card.astro';
import Layout from '@layouts/Layout.astro';

import { Image } from 'astro:assets';

import bottomImage from '@assets/images/title/bottom.png';
import leftImage from '@assets/images/title/left.png';
import rightImage from '@assets/images/title/right.png';
import topImage from '@assets/images/title/top.png';

import { GET } from './api/ballads/list.json';
import type { Ballad } from '@model';

export const prerender = true;

const response = await GET(Astro);
const ballads = await response.json<Ballad[]>();
---

<Layout title="Ballady i romanse | Adam Mickiewicz">
  <header>
    <Image src={topImage} alt="" role="presentation" class="image image-top" />
    <Image src={bottomImage} alt="" role="presentation" class="image image-bottom" />
    <Image src={leftImage} alt="" role="presentation" class="image image-left" />
    <Image src={rightImage} alt="" role="presentation" class="image image-right" />
    <h1>Ballady i Romanse</h1>
    <h2>Adam Mickiewicz</h2>
  </header>
  <main>
    <ul>
      {
        ballads.map((ballad) => (
          <li>
            <Card title={ballad.title} href={`/${ballad.key}`} />
          </li>
        ))
      }
    </ul>
  </main>
  <footer>
    Projekt powstał w celach edukacyjnych (programistycznych) oraz ku czci Adama Mickiewicza.
  </footer>
</Layout>

<style lang="scss">
  main {
    margin-bottom: 48px;
  }

  header {
    position: relative;
    width: 100%;
    height: calc(460px * var(--scale, 1));
    margin-inline: auto;
    margin-bottom: 48px;

    --scale: 0.7;
    @media (min-width: 460px) {
      --scale: 1;
      width: max-content;
    }
  }

  .image {
    position: absolute;
    scale: var(--scale, 1);

    &.image-top {
      top: 0;
      left: 50%;
      translate: -50% 0;
      transform-origin: 50% 0;
      z-index: 1;
    }

    &.image-bottom {
      bottom: 0;
      left: 50%;
      translate: -50% 0;
      transform-origin: 50% 100%;
      z-index: 1;
    }

    &.image-left {
      left: 0;
      transform-origin: 0 0;
      z-index: 0;
    }

    &.image-right {
      right: 0;
      transform-origin: 100% 0;
      z-index: 0;
    }
  }

  h1 {
    font: var(--font-xxl);
    line-height: 0.6;
    margin-inline: 120px;
    top: 50%;

    @media (min-width: 460px) {
      line-height: 1;
    }
  }

  h2 {
    font: var(--font-xl);
    line-height: 1rem;
    top: 43%;

    @media (min-width: 460px) {
      top: 50%;
    }
  }

  h1,
  h2 {
    position: relative;
    translate: 0 -50%;

    font-family: var(--font-cursive);
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    max-width: 1400px;
    margin-inline: auto;
  }

  footer {
    text-align: center;
    font: var(--font-xs);
    padding: 20px;
  }
</style>
