---
import '@styles/base.css';
import italiannoWoff2 from '@fontsource/italianno/files/italianno-latin-400-normal.woff2?url';
import montserratWoff2 from '@fontsource-variable/montserrat/files/montserrat-latin-wght-normal.woff2?url';
import i18n from '@i18n';
import LanguageSelect from '@components/LanguageSelect.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={i18n.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={`${i18n.t('title')} - ${i18n.t('author')}`} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/icon.ico" />

    <link rel="preload" as="font" type="font/woff2" href={italiannoWoff2} crossorigin="anonymous" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={montserratWoff2}
      crossorigin="anonymous"
    />

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>
  <body>
    <header>
      <slot name="header" />
    </header>
    <slot />
    <footer>
      <slot name="footer" />
      <LanguageSelect />
    </footer>
  </body>
</html>
